In [219]:
import pandas as pd
import numpy as np

In [220]:
airports = pd.read_csv('Datasets/Raw/airports.csv')
fleetAnalysis = pd.read_csv('Datasets/Raw/AAfleetBaseAnalysis.csv')

In [221]:
#Changing all needed toal data to per flight and removing old columns
fleetAnalysis['GATE_COST/FLIGHT'], fleetAnalysis['FEE_COST/FLIGHT'], fleetAnalysis['TOTAL_COST/FLIGHT'] = fleetAnalysis.loc[:, 'TOTAL_GATE_COST'] / fleetAnalysis.loc[:, 'TOTAL_FLIGHTS'], fleetAnalysis.loc[:, 'TOTAL_FEES'] / fleetAnalysis.loc[:, 'TOTAL_FLIGHTS'], fleetAnalysis.loc[:, 'TOTAL_COST'] / fleetAnalysis.loc[:, 'TOTAL_FLIGHTS']  
fleetAnalysis.drop(columns = ['TOTAL_GATE_COST', 'TOTAL_FEES', 'TOTAL_COST', 'TOTAL_FUEL_COST', 'TOTAL_MAX_PASSANGERS', 'MILES_TRAVELED'])

,TAIL_NUMBER,PASSENGER_CAPACITY,FUEL_COST/MILE,BASE_COST/FLIGHT,TOTAL_FLIGHTS,COST/PASSANGER,GATE_COST/FLIGHT,FEE_COST/FLIGHT,TOTAL_COST/FLIGHT
0,N961UW,524,36.0,9282.83,931,33.748462,3153.504844,-26.148496,17684.194157
1,N963UW,368,31.2,6904.66,1011,35.244829,2947.223778,-4.084688,12970.096954
2,N947UW,368,33.1,7691.30,989,40.904115,2966.232902,8.629515,15052.714388
3,N712US,524,35.8,9651.25,751,43.323881,2813.297257,29.093515,22701.713808
4,N952UW,368,31.8,7406.90,868,43.490128,2941.526694,7.621624,16004.367212
...,...,...,...,...,...,...,...,...,...
1039,N5ECAA,21,15.7,3358.02,773,1521.338342,3555.454360,154.017439,31948.105175
1040,N7BKAA,21,16.8,3379.26,58,1538.341782,3152.220862,93.301379,32305.177414
1041,N373AA,21,16.8,3525.35,237,1571.671404,3691.753038,198.166709,33005.099494
1042,N7LDAA,21,15.4,3264.34,3,1596.821270,3670.930000,63.316667,33533.246667
1043,N784AA,21,16.7,3489.05,669,2161.492634,3483.784619,-1.276532,45391.345306

In [222]:
#Removing datapoints with 0 that adversely affected the means
fleetAnalysis[fleetAnalysis['TOTAL_FLIGHTS'] < 10] = None
fleetAnalysis = fleetAnalysis.dropna()

In [223]:
fleetAnalysis = fleetAnalysis.loc[:, ['PASSENGER_CAPACITY', 'BASE_COST/FLIGHT', 'FUEL_COST/MILE', 'TOTAL_FLIGHTS', 'COST/PASSANGER', 'GATE_COST/FLIGHT', 'FEE_COST/FLIGHT', 'TOTAL_COST/FLIGHT']]
fleetAnalysis = fleetAnalysis.sort_values(by = ['PASSENGER_CAPACITY', 'TOTAL_COST/FLIGHT'], ascending = False)

In [224]:
#Grouping the mean of all the rows into their respective model (determined by the plane capacity)
models = pd.concat([fleetAnalysis[fleetAnalysis['PASSENGER_CAPACITY'] == 524].groupby("PASSENGER_CAPACITY").mean(), fleetAnalysis[fleetAnalysis['PASSENGER_CAPACITY'] == 368].groupby("PASSENGER_CAPACITY").mean(), fleetAnalysis[fleetAnalysis['PASSENGER_CAPACITY'] == 200].groupby("PASSENGER_CAPACITY").mean(), fleetAnalysis[fleetAnalysis['PASSENGER_CAPACITY'] == 85].groupby("PASSENGER_CAPACITY").mean(), fleetAnalysis[fleetAnalysis['PASSENGER_CAPACITY'] == 21].groupby("PASSENGER_CAPACITY").mean(), fleetAnalysis[fleetAnalysis['PASSENGER_CAPACITY'] == 5].groupby("PASSENGER_CAPACITY").mean()])

In [225]:
#Sets passenger capacity as the index, not able to acces with models if aboove, but creates blank column when removed
fleetAnalysis.set_index('PASSENGER_CAPACITY', drop = True, inplace = True)

In [226]:
fleetAnalysis.to_csv('Datasets/Cleaned_Datasets/Clean_AAfleetBaseAnalysis_Airports.csv')
models.to_csv('Datasets/Cleaned_Datasets/Plane_Model.csv')